<div class="my-8 flex flex-col md:flex-row-reverse justify-center md:justify-around align-center">
  <div class="flex flex-row justify-center align-center">
    <juegos-timer [run]="!isGameOver()" (timerFinishedEmitter)="onTimeout()"
      (timerStoppedEmitter)="setGameOver($event)" />
  </div>

  <div class="flex flex-row justify-center align-center">
    <juegos-score [score]="currentScore()" [success]="correctGuesses()"/>
  </div>
</div>

<section class="grid grid-cols-1 sm:grid-cols-2 gap-4">
  <juegos-higher-lower-card class="flex flex-row justify-center align-center" [cardName]="CARD_BACK" />

  <juegos-higher-lower-card class="flex flex-row justify-center align-center" [cardName]="lastCard" />
</section>

<div>
  <div class="flex flex-row justify-center align-center">
    <juegos-game-button (clickEmitter)="drawCard('higher')" [button]="{label: 'Mayor', isDisabled: isGameOver(), icon: 'arrow_upward' }" />
    <juegos-game-button (clickEmitter)="drawCard('lower')" [button]="{label: 'Menor', isDisabled: isGameOver(), icon: 'arrow_downward'}" />
  </div>

  <div class="flex flex-row justify-center align-center">
    <juegos-restart-button (restartGame)="resetGame()" />
  </div>
</div>

<juegos-game-dialog [showDialog]="showDialog()" [message]="gameOverMessage" (closeDialogEmitter)="closeDialog()" />