<div class="my-8 flex flex-col md:flex-row-reverse justify-center md:justify-around align-center">
  <div class="flex flex-row justify-center align-center">
    <juegos-timer [run]="!isGameOver()" (timerFinishedEmitter)="onTimeout()"
      (timerStoppedEmitter)="setGameOver($event)" />
  </div>

  <div class="flex flex-row justify-center align-center">
    <juegos-result [score]="currentScore()" [success]="correctGuesses()"/>
  </div>
</div>

<section class="grid grid-cols-1 sm:grid-cols-2 gap-4">
  <juegos-higher-lower-card class="flex flex-row justify-center align-center" [cardName]="CARD_BACK" />

  <juegos-higher-lower-card class="flex flex-row justify-center align-center" [cardName]="lastCard" />
</section>

<div>
  <div class="flex flex-row justify-center align-center">
    <juegos-button (click)="drawCard('higher')" [button]="{label: 'Mayor', isDisabled: isGameOver() }" />
    <juegos-button (click)="drawCard('lower')" [button]="{label: 'Menor', isDisabled: isGameOver()}" />
  </div>

  <div class="flex flex-row justify-center align-center">
    <juegos-button (click)="resetGame()" [button]="{label: 'Nuevo juego', isDisabled: false}" />
  </div>
</div>

<juegos-game-dialog [showDialog]="showDialog()" [message]="gameOverMessage" (closeDialogEmitter)="closeDialog()" />