.timer {
  background-color: var(--mat-sys-primary);
  border-radius: 0.25rem;
  border: 1px solid var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary);
  max-width: 20rem;
  padding: 0.5rem;
}
