<section class="info">
  @if (user()) {
    <div class="image-container">
      <img [ngSrc]="user()!.avatar_url" fill alt="Github profile picture" />
    </div>

    <article class="info-container">
      <h2 class="font-bold text-2xl lg:text-4xl">{{ user()!.name }}</h2>
      <h3 class="lg:text-2xl">{{ user()!.location }}</h3>
    </article>
  }
  @else {
    <div class="image-container">
      <img [ngSrc]="user()!.avatar_url" fill alt="Error profile picture" />
    </div>

    <article class="info-container">
      <h2>Error al cargar información desde GitHub</h2>
    </article>
  }
</section>
